* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri, Arial, sans-serif;
}

textarea{
    padding: 5px 10px;
}

.btn-blu {
    padding: 5px 10px;
    background-color: $blueBnb;
    border: 2px solid $blueBnb;
    color: $whiteBnb;
    border-radius: 4px;
    font-weight: bold;
    &:hover {
        text-decoration: none;
    background-color: $whiteBnb;
    color: $blueBnb;
    }
}

.btn-red {
    padding: 5px 10px;
    background-color: $redBnb;
    border: 2px solid $redBnb;
    color: $whiteBnb;
    border-radius: 4px;
    font-weight: bold;
    &:hover {
    background-color: $whiteBnb;
    color: $redBnb;
    }
}

.ap-input-icon.ap-icon-pin{
    display: none;
}

/* scroll bar */

::-webkit-scrollbar {/* width */
  width: 5px;
  height:5px;
}

::-webkit-scrollbar-track {/* Track */
  background: $whiteBnb;
}

::-webkit-scrollbar-thumb {/* Handle */
  background: $blueBnb;
}

::-webkit-scrollbar-thumb:hover {/* Handle on hover */
  background: $blueBnb;
}

/* fine scroll bar */