footer{
  border-top: 1px solid $whiteNav;
  padding-top: 35px;
  background-color: $blueBnb;
  #footer{
    ul{
      list-style: none;
      li{
        padding-bottom: 12px;
      }
      a{
        color: $whiteNav;
        &:hover{
            color: $whiteNav;
          // color: rgba(203, 31, 53, 0.8);
        }
      }
    }
  }

  .footer-bottom{
      color: $whiteNav;
      border-top: 1px solid $whiteNav;
      padding-top: 20px;
  }

  .footer-bottom-left {
    p{
      display: inline-block;
      margin-right: 15px;
    }
    .ft:hover {
        text-decoration: underline;
        cursor: pointer;
    }
  }

  .footer-bottom-right{
    span{
        cursor: pointer;
      margin-right: 15px;
      &:hover {
          color: rgba(203, 31, 53, 0.8);
      }
    }
  }

  #social{
    font-size: 20px;
  }
}
