header {
    nav {
        background-color: $nav;
        @include flex(row,space-between,center);
        .navbar-brand {
            img{
                height:65px;
            }
        }
        .search {
            border: 1px solid #e5e5e5;
            height: 50px;
            border-radius: 40px;
            padding: 5px;
            padding-left: 15px;
            line-height: 35px;
            .algolia-places{
                width:80%;
                button.ap-icon-clear{
                    display:none;
                }
                button.ap-icon-pin{
                    display:none;
                }
                input.search-text {
                    border: none;
                    background: none;
                    float: left;
                    &:focus {
                        outline: -webkit-focus-ring-color auto 0px;
                        box-shadow:none;
                    }
                }
            }
            button.search-btn {
                text-decoration: none;
                color: white;
                background: $redBnb;
                float: right;
                width: 40px;
                height: 40px;
                border:none;
                border-radius: 50%;
                margin-left: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-color: $redBnb;
                cursor: pointer;
                &:hover{
                    color: $redBnb;

                    background: #fff;
                    border: 2px solid $redBnb;
                }
                &:focus {
                    outline: -webkit-focus-ring-color auto 0px;
                    background: $nav;
                    border: 2px solid $redBnb;
                }
            }
        }
        .navbar-nav.guest{
            @include flex(row,flex-start,center);
            a{
                padding-left:20px;
            }
        }
        .nav-item.dropdown{
            cursor:pointer;
            .nav-link{
                height:65px;
                @include flex(row,flex-start,center);
                padding:0;
                border:none;
                &:focus {
                    outline: -webkit-focus-ring-color auto 0px;;
                }
                img{
                    height: 55px;
                    border-radius: 50%;
                    margin-left: 5px;
                }
            }
            .dropdown-menu{
                .dropdown-item{
                    padding-left: 10px;
                    transition: background-color .3s ease, color .3s ease;
                    &:hover {
                        background-color: $blueBnb;
                        color:$whiteBnb;
                    }
                }
            }
        }
    }
}
