header {
   nav {
        height:105px;
        background-color:#fff;
        @include flex(row,space-between,center);
        .navbar-brand {
            img{
                height:80px;
            }
        }
        .search {
            border: 1px solid #e5e5e5;
            height: 50px;
            border-radius: 40px;
            padding: 5px;
            padding-left: 15px;
            line-height: 35px;
            .search-text {
                border: none;
                background: none;
                float: left;
                &:focus {
                    outline: -webkit-focus-ring-color auto 0px;;
                }
            }
            a.search-btn {
                text-decoration: none;
                color: white;
                background: #ff385c;
                float: right;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-left: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                &:hover{
                    color: #ff385c;
                    background: #fff;
                    border: 2px solid #ff385c;
                }
            }
        }
        .navbar-toggler{
            height:65px;
            border:none;
            &:focus {
                outline: -webkit-focus-ring-color auto 0px;;
            }
            img{
                height: 55px;
                border-radius: 50%;
            }
        }
        #navbarSupportedContent{
            .navbar-nav{
                .nav-item {
                    .nav-link{
                        padding-left: 10px;
                        &:hover {
                            background-color: #e5e5e5;
                        }
                    }
                }
            }
        }
    }
}
