// LAYOUT ADMIN
.aside{
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 0px !important;
  text-transform: uppercase;
  color: $whiteBnb;
  background-color: #184868;
  a{
    padding: 15px 8px 15px 5px;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    display: block;
    &:hover{
      color: white;
      background-color:$blueBnb;
      text-decoration: none;
    }
    i{
      font-size: 20px;
      margin: 0px 7px 0px 7px;
    }
  }
  .utente-dash{
    background-color: $blueBnb;
    color: white;
    font-weight: bold;
    img{
      width: 100px;
      height: 100px;
      margin: 35px 0px 10px 0px;
      border: 3px solid #184868;
    }
  }
}
.lay-dx{
  height: 100vh;
  padding: 0px !important;
  overflow-y: scroll;
  scrollbar-width: none;
}

//Media Queries
@media screen and (max-width:576px) {

  .aside {
    // min-width: 75px;
    a{
      text-align: center;
    }
    .link-name{
      display: none;
    }
    .utente-dash {
      img{
        width: 50px;
        height: 50px;
        margin: 10px 0px 10px 0px;
      }
      #name {
        display: none;
      }
    }
  }
}
// FINE LAYOUT ADMIN


// SHOW SINGOLO MESSAGGIO
.show-messaggio {
  height: 100vh;
  .messaggio{
    .jumbotron {
      padding-top: 15px;
      background-color: white;
      margin-top: 40px;
      box-shadow: rgba(19, 59, 85, 0.4) 0px 6px 16px;
      .dettagli{
        padding-left: 3px;
        ul{
          list-style: none;
        }
      }
      .testo-messaggio{
        margin-left: 3px;
        border-top: 1px solid gainsboro;
        border-bottom: 1px solid gainsboro;
      }
      .lettura{
        // padding-top: 20px;
        form {
          input{
            margin-right: 15px;
            margin-top: 15px;
            width: 170px;
          }
        }
      }
    }
  }
}

@media screen and (max-width:768px){

  .show-messaggio {
    .messaggio{
      .jumbotron {
        margin-top: 0px;
        box-shadow: none;
      }
    }
  }
}
// FINE SHOW SINGOLO MESSAGGIO

// LISTA MESSAGGI
.lista-messaggi{
  // height: 100vh;
  background-color: #ffffff !important;
  margin: 40px;
  padding: 15px !important;
  padding-bottom: 15px !important;
  font-size: 15px;
  box-shadow: rgba(19, 59, 85, 0.4) 0px 6px 16px;
  p{
    margin: 5px;
  }
  .dettagli-messaggio {
    border-top: 1px solid gainsboro;
  }
  .buttons-dettagli{
    padding-left: 15px !important;
    padding-top:10px;
    padding-bottom:15px;
    span{
      display: inline-block;
      margin: 0px 10px 0px 0px;

    }
  }
}

// MEDIA QUERIES LISTA MESSAGGI
@media screen and (max-width:768px){
  .lista-messaggi{
    // height: 100vh;
    margin: 0px;
    box-shadow: none;
    .buttons-dettagli{
      span{
        display: inline-block;
        margin: 0px 10px 0px 5px;
      }
    }
  }
}

// LISTA PAGAMENTI
.lista-pagamenti{
  // height: 100vh;
  background-color: #ffffff !important;
  margin: 40px;
  padding: 15px !important;
  padding-bottom: 15px !important;
  font-size: 15px;
  box-shadow: rgba(19, 59, 85, 0.4) 0px 6px 16px;
  p{
    margin: 5px;
  }
  .dettagli-pagamento {
    border-top: 1px solid gainsboro;
  }
}

// MEDIA QUERIES LISTA PAGAMENTI
@media screen and (max-width:768px){
  .lista-pagamenti{
    // height: 100vh;
    margin: 0px;
    box-shadow: none;
  }
}
