main {
  min-height: calc(100vh - 400px);
  background-color: $whiteBnb;
    .padd-top {
        padding-top:107px;
    }
    .btn-blu {
        padding: 5px 10px;
        background-color: $blueBnb;
        border: 2px solid $blueBnb;
        color: $whiteBnb;
        border-radius: 4px;
        font-weight: bold;
        &:hover {
            text-decoration: none;
        background-color: $whiteBnb;
        color: $blueBnb;
        }
    }
    .btn-red {
        padding: 5px 10px;
        background-color: $redBnb;
        border: 2px solid $redBnb;
        color: $whiteBnb;
        border-radius: 4px;
        font-weight: bold;
        &:hover {
        background-color: $whiteBnb;
        color: $redBnb;
        }
    }

    // REGISTRAZIONE/ACCESSO auth register/login/email.blade
        .register {
            .card {
                border-radius: 8px;
                box-shadow: rgba(19, 59, 85, 0.4) 0px 6px 16px;
                .form-control {
                    &:focus {
                        border: rgba(19, 59, 85, 0.8);
                        box-shadow: rgba(19, 59, 85, 0.7) 0px 0px 10px 2px;
                    }
                }
                p {
                    color: #6c757d;
                }
                a {
                    color: $blueBnb;
                    font-weight: bold;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .account {
                font-size: 25px;
                text-transform: uppercase;
                font-weight: bold;
                color: $blueBnb;
            }
            .btn-blu {
                width: 100%;
                text-transform: uppercase;
            }
        }
    // *END* REGISTRAZIONE/ACCESSO auth register/login/email.blade


    // BANNER "home.blade"
        .bg-img {
            background-image: url('../../../public/storage/images/Home-–-Muhammed-Sajid-5.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 614px;
            padding-top: 129px;
            .jumbotron {
                    background-color: $banner;
            }
            h1 {
                text-transform: uppercase;
                font-size: 50px;
                color: $whiteBnb;
            }
        }
    // *END* BANNER "home.blade"

    // APPARTAMENTI SPONSORIZZATI "home.blade"
        .sponsor{
            height:calc(100vh - 107px);
            background-color: $whiteBnb;
            color:$blueBnb;
            padding:50px;
            .slider{
                @include flex(row,space-around,center);
                height:90%;
                .icone{
                    background-color:$whiteBnb;
                    i{
                      font-size:30px;
                      color:$blueBnb;
                      cursor:pointer;
                      background-color: $whiteBnb;
                      border-radius:50%;
                      z-index:1;
                    }
                }
                .lista.appartamenti{
                    @include flex(row,flex-start,center);
                    width:90%;
                    height:100%;
                    z-index:0;
                    .box-group{
                        height:90%;
                        width:30%;
                        margin-right: 20px;
                    }
                }
            }
            // .row{
            //     padding-top: 30px;
            //     height:90%;
            //     @include flex(row,space-around,center);
            //     i{
            //       font-size:30px;
            //       color:$blueBnb;
            //       cursor:pointer;
            //     }
            //     .lista.appartamenti{
            //         scroll-behavior: smooth;
            //         height:100%;
            //         width:95%;
            //         margin:0 auto;
            //         display:flex;
            //         flex-direction: row;
            //         flex-wrap: nowrap;
            //         padding-right: 45px;
            //         padding-left: 5px;
            //         overflow-y: hidden;
            //         overflow-x: hidden; /* disattiva la scrollbar perchè ora hai le frecce */
            //         .box-group {
            //             height:300px;
            //             height:90%;
            //             position:relative;
            //             background-repeat: no-repeat;
            //             background-size: cover;
            //             background-position: center;
            //             margin:10px 10px;
            //             margin: 50px 5px;
            //             border: 1px solid black;
            //             border-radius: 10px;
            //             box-shadow: rgba(19, 59, 85, 0.4) 0px 6px 16px;
            //             transition: width, 0.5s;
            //             &:hover {
            //                 transform:scale(1.05);
            //                 width:100%;
            //                 z-index: 1;
            //             }
            //             .box-img{
            //               a {
            //                   img{
            //                       width: 100%;
            //                       border-radius: 10px 10px 0px 0px;
            //                       // padding: 5px
            //                     }
            //                 }
            //             }
            //             .box-descr{
            //                 padding: 5px;
            //                 color:#fff;
            //                 position: absolute;
            //                 bottom: 10px;
            //                 left: 20px;
            //                 h5{
            //                     .badge{
            //                         background-color: $redBnb;
            //                     }
            //                 }
            //             }
            //         }
            //     }
            // }
        }
    // *END* APPARTAMENTI SPONSORIZZATI "home.blade"

    // PAGINA SEARCH
        .layout {
          scrollbar-width: none; /*Nasconde scroll firefox*/
          overflow-y: scroll;
          padding: 0px !important;
          margin-top: 81px;
          height: 100vh;
          .filters{
            background-color: orange;
          }
          .sponsor{
              height:calc(100vh - 107px);
              background-color: $blueBnb;
              color:$whiteBnb;
              padding:50px;
              .row{
                  padding-top: 30px;
                  height:90%;
                  @include flex(row,space-around,center);
                  i{
                    font-size:30px;
                    color:$redBnb;
                    cursor:pointer;
                  }
                  .lista.appartamenti{
                      scroll-behavior: smooth;
                      height:70%;
                      width:95%;
                      display:flex;
                      flex-direction: row;
                      flex-wrap: nowrap;
                      overflow-y: hidden;
                      overflow-x: hidden; /* disattiva la scrollbar perchè ora hai le frecce */
                      .box-group {
                          position:relative;
                          background-repeat: no-repeat;
                          background-size: cover;
                          background-position: center;
                          margin:10px 10px;
                          border-radius: 10px;
                          box-shadow: rgba(19, 59, 85, 0.4) 0px 6px 16px;
                          transition: width, 0.5s;
                          &:hover {
                              transform:scale(1.05);
                              width:100%;
                          }
                          .box-descr{
                              padding: 5px;
                              color:#fff;
                              position: absolute;
                              bottom: 10px;
                              left: 20px;
                              h5{
                                  .badge{
                                      background-color: $redBnb;
                                  }
                              }
                          }
                      }
                  }
              }
          }
          .ricerca{
            scrollbar-width: none; /*Nasconde scroll firefox*/
            .search{
              padding: 20px 0px;
              border-top: 1px solid darkgrey;
              .foto{
                padding: 0px;
              }
              #img-search{
                width: 370px;
                height: 240px;
                border-radius: 10px;
              }
            }
            .flat-text{
              margin-left: 10px;
              padding-top: 15px;
              a{
                color: #222222;
                &:hover{
                  color: #404040;
                  text-decoration: none;
                }
              }
              p{
                padding-bottom: 10px;
                // border-bottom: 1px solid $redBnb;
              }
              ul{

                list-style-type: none;
                padding-top: 0px;
                display: inline-block;
                li{
                  margin-right: 10px;
                }
                img{
                  height: 30px;
                  padding: 0px 5px 5px 0px;
                }
              }
              .flat-service{
                color: #404040;
                span{
                  margin-right: 4px;
                }
              }
            }
          }
        }
    // *END* PAGINA SERACH

    // SHOW FLAT "flat.blade"
        .flat-show {

            ul {
                list-style-type: none;
                padding-top: 10px;
                img {
                    height: 25px;
                    padding: 0px 5px 5px 0px;
                }
                .bed {
                    padding-right: 20px;
                }
                .wc {
                    padding-right: 22px;
                }
            }

            .flat-img {
                img {
                    padding: 0px;
                    margin-bottom: 32px;
                }
            }

            .flat-descr {
                padding-top: 25px;
                padding-right: 20px;
            }

            .services p {
                float: left;
                padding-right: 15px;
            }

            .jumbotron {
                background-color: $whiteBnb;
                border: 1px solid rgb(221, 221, 221);
                padding-top: 5px;
                box-shadow: rgba(19, 59, 85, 0.4) 0px 6px 16px;
            }

            @media screen and (max-width: 1140px) {
                .show-app {
                    .jumbotron {
                        box-shadow: none;
                        border: none;
                    }
                }
            }
        }

        .flat-title {
            h2 {
                color: $blueBnb;
                font-size: 30px;
                font-weight: bold;
                padding: 15px 0px;
            }
        }
    // *END* SHOW FLAT "flat.blade"

    // GESTISCI IL PROFILO profile.blade
        .profile {
            .rounded-circle {
                width: 100px;
            }
            .jumbotron {
                background-color: $whiteBnb;
                box-shadow: rgba(19, 59, 85, 0.4) 0px 6px 16px;
                padding: 30px;
            }
            .profile-date {
                width: 100%;
                .profile-title {
                    color: $blueBnb;
                    font-size: 36px;
                }
                .profile-email {
                    font-size: 18px;
                    font-weight: bold;
                    color: $grayBnb;
                    border-bottom: 2px solid rgba(19, 59, 85, 0.7);
                }
                .date {
                    .text-right {
                        font-weight: bold;
                        color: $grayBnb;
                    }
                    .col-6 {
                        padding-left: 2px;
                        padding-right: 3px;
                    }
                }
                a {
                    text-decoration: none;
                }
            }

            @media screen and (max-width: 768px) {
                .jumbotron {
                    box-shadow: none;
                }
            }
        }
    // *END* GESTISCI IL PROFILO profile.blade

    // AGGIORNA PROFILO profile-update.blade
        .update {
            .jumbotron {
                background-color: $whiteBnb;
                padding: 30px;
                box-shadow: rgba(19, 59, 85, 0.4) 0px 6px 16px;
            }
            h2 {
                color: $blueBnb;
                text-transform: uppercase;
                padding-bottom: 15px;
            }
            label {
                font-weight: bold;
                color: $grayBnb;
            }
            .form-control {
                &:focus {
                    border: rgba(19, 59, 85, 0.8);
                    box-shadow: rgba(19, 59, 85, 0.7) 0px 0px 10px 2px;
                }
            }

            @media screen and (max-width: 768px) {
                .jumbotron {
                    box-shadow: none;
                }
            }
        }
    // *END* AGGIORNA PROFILO profile-update.blade

    // LISTA APPARTAMENTI admin flats.blade
        .flats-list {
            h2 {
                color: $blueBnb;
                text-transform: uppercase;
            }
        }
        .table {
            td {
                vertical-align: middle;
            }
        }

        @media screen and (max-width: 1020px) {
            .table {
                thead {
                    display: none;
                }

                .tb-none {
                    display: none;
                }

                tbody, tr, td {
                    display: block;
                    width: 100%;
                }

                .btn-blu {
                    display: flex;
                    justify-content: center;
                }
            }
        }
    // *END* // LISTA APPARTAMENTI admin flats.blade

}
