main{
  background-color: #ffffff;
}

.search{

  #img-search{
    width: 300px;
    height: 200px;
    border-radius: 10px;
  }

  .flat{
    padding: 20px 0px;
    border-top: 1px solid darkgrey;
  }
}
