.aside{
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #354052;
  a{
    padding: 20px 8px 10px 5px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    border-bottom: 1px solid darkgray;
    &:hover{
      color: #f1f1f1;
      text-decoration: none;
    }
    i{
      font-size: 20px;
      margin-right: 5px;
    }
  }
}

.main{
  height: 100vh;
  padding: 0px 10px;
  overflow-y: scroll;
  scrollbar-width: none;
}
