main {
    min-height: calc(100vh - 400px);
    margin-top:80px;
    // BANNER
    .jumbotron {
        background-color: rgba(250, 250, 250, 0.7);
    }

    h1 {
        text-transform: uppercase;
        font-size: 50px;
    }

    .bg-img {
        background-image: url('https://i2.res.24o.it/images2010/Editrice/ILSOLE24ORE/ILSOLE24ORE/2018/02/24/Politica%20e%20societa/ImmaginiWeb/Ritagli/airbnb-los-angeles-kJNB--835x437@IlSole24Ore-Web.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 614px;
        margin-top: 80px;
        padding-top: 129px;
    }

    // APPARTAMENTI SPONSORIZZATI
    .sponsor .col-12, .col-sm-6,
    .col-md-4, .col-lg-3 {
        padding: 0px;
    }

    .box-group {
        margin-top: 20px;
    }

    .box-img a img {
        width: 100%;
        // border-radius: 5px;
    }

    .box-descr {
        position: absolute;
        bottom: 0%;
        color: white;
        width: 100%;
        padding: 10px 5px 0px;
        background-image: linear-gradient(-180deg,rgba(0,0,0,0.00) 5%,#000 97%);
        word-wrap: break-word;
    }

    // .sponsor .box-group {
    //     position: relative;
    //     overflow: hidden;
    //     transition: 0.5s;
    //     width: 275px;
    //     height: 275px;
    // }

    .sponsor .box-group:hover {
        z-index: 1;
        transform: scale(1.1);
        box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
    }

    // PAGINA SEARCH
    .container-fluid.search{
      // height: 600px;
      // overflow-y: scroll;

      #img-search{
        width: 300px;
        height: 200px;
        border-radius: 10px;
      }

      .flat{
        padding: 20px 0px;
        border-top: 1px solid darkgrey;
      }

    }
}
