.aside{
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 0px !important;
  text-transform: uppercase;
  color: $whiteBnb;
  background-color: #184868;
  a{
    padding: 15px 8px 15px 5px;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    display: block;
    &:hover{
      color: white;
      background-color:$blueBnb;
      text-decoration: none;
    }
    i{
      font-size: 20px;
      margin: 0px 7px 0px 7px;
    }
  }
  .utente-dash{
    background-color: $blueBnb;
    color: white;
    font-weight: bold;
    img{
      margin: 35px 0px 10px 0px;
      border: 3px solid #184868;
      height: 100px;
      width: 100px;
      box-shadow: rgba(203,31,53,0.4) 0px 5px 14px;  //DA DECIDERE
    }
  }
}
.main{
  height: 100vh;
  // padding: 0px 10px;
  padding: 0px !important;
  overflow-y: scroll;
  scrollbar-width: none;
}
