main {
  min-height: calc(100vh - 400px);
  padding:106px 0 0px;
  background-color: $whiteBnb;

    // BANNER
    .bg-img {
        .jumbotron {
            background-color: rgba(250, 250, 250, 0.7);
        }
    }

    h1 {
        text-transform: uppercase;
        font-size: 50px;
    }

    .bg-img {
        /* background-image: url('https://i2.res.24o.it/images2010/Editrice/ILSOLE24ORE/ILSOLE24ORE/2018/02/24/Politica%20e%20societa/ImmaginiWeb/Ritagli/airbnb-los-angeles-kJNB--835x437@IlSole24Ore-Web.jpg'); */
        background-image: url('../../../public/storage/images/Home-–-Muhammed-Sajid-5.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 614px;
        // margin-top: 80px;
        padding-top: 129px;
    }

    // APPARTAMENTI SPONSORIZZATI
    // .sponsor .row {
    //     margin: 0px 0px;
    //     padding: 10px 0px;
    // }

    .sponsor .col-12, .col-sm-6,
    .col-md-4, .col-lg-3, .col-lg-6 {
        padding: 0px 10px;
    }

    .box-group {
        margin: 50px 0px;
    }

    .sponsor{
      padding:50px 0;
      .row{
        margin: 10px 0px;
        @include flex(row,center,center);
        i{
          font-size:30px;
        }
        .lista.appartamenti{
          width:80%;
          display:flex;
          flex-direction: row;
          flex-wrap: nowrap;
          overflow-y: hidden;
          overflow-x: hidden; /* disattiva la scrollbar perchè ora hai le frecce */
          .box-group {
            margin: 50px 0px;
            border:3px solid red;
            border-radius:20px;
            .box-img{
              a{
                img{
                  width: 100%;
                  border-radius: 5px;
                }
              }
            }
            // .box-descr {
            //     position: absolute;
            //     bottom: 0%;
            //     color: white;
            //     width: 94.6%;
            //     padding: 10px 5px 0px;
            //     background-image: linear-gradient(-180deg,rgba(0,0,0,0.00) 5%,#000 97%);
            //     word-wrap: break-word;
            //     border-radius: 0px 0px 5px 5px;
            // }
            // &:hover{
            //   transform: scale(1.1);
            //   transition: 0.5s;
            // }
          }
        }

      }
    }


    // PAGINA SEARCH

    /*Nasconde scroll, necessario su Safari e Chrome */
    .container-fluid.search::-webkit-scrollbar {
      display: none;
    }

    .layout {
      color: black;
      display: flex;
      .left-layout {
        width: 60%;
        .container-fluid.search{
          margin-left: 0;
          height: 550px;
          overflow-y: scroll;
          scrollbar-width: none; /*Nasconde scroll firefox*/
          a{
            color: #222222;
            &:hover{
              color: #404040;
              text-decoration: none;
            }
          }
          .flat{
            padding: 20px 0px;
            border-top: 1px solid darkgrey;
            #img-search{
              width: 300px;
              height: 200px;
              border-radius: 10px;
            }
            .flat-text{
              padding-top: 15px;
              p{
                padding-bottom: 10px;
                border-bottom: 2px solid $redBnb;
              }
              ul{
                list-style-type: none;
                padding-top: 0px;
                display: inline-block;
                li{
                  margin-right: 10px;
                }
                img{
                  height: 25px;
                  padding: 0px 5px 5px 0px;
                }
              }
              .flat-service{
                color: #404040;
                span{
                  margin-right: 4px;
                }
              }
            }
          }
        }
      }
      .right-layout{
        width: 40%;
        height: 550px;
        background-color: gray;
        overflow-y:hidden;
      }
    }

    // SHOW FLAT
    .flat-show {

        ul {
            list-style-type: none;
            padding-top: 10px;
            img {
                height: 25px;
                padding: 0px 5px 5px 0px;
            }
            .bed {
                padding-right: 20px;
            }
            .wc {
                padding-right: 30px;
            }
        }

        .flat-img {;
            img {
                padding: 0px;
            }
        }

        .flat-descr {
            padding-top: 25px;
            padding-right: 20px;
        }

        .services p {
            float: left;
            padding-right: 15px;
        }

        .pos {
            padding-top: 60px;
        }

        .jumbotron {
            background-color: white;
            border: 1px solid rgb(221, 221, 221);
            box-shadow: rgba(20, 96, 58, 0.4) 0px 6px 16px;
            margin-top: 60px;
        }

        button {
            background-color: #ff385c;
            padding: 7px 15px;
            color: white;
            &:hover {
                background-color: white;
                color: #ff385c;
                border: 2px solid #ff385c;
            }
        }
    }

    .flat-title {
        h1 {
            font-size: 30px;
            font-weight: bold;
            padding: 15px 0px;
        }
    }

}
