main {
    min-height: calc(100vh - 400px);
    margin-top:80px;
    background-color: white;

    // BANNER
    .jumbotron {
        background-color: rgba(250, 250, 250, 0.7);
    }

    h1 {
        text-transform: uppercase;
        font-size: 50px;
    }

    .bg-img {
        background-image: url('https://i2.res.24o.it/images2010/Editrice/ILSOLE24ORE/ILSOLE24ORE/2018/02/24/Politica%20e%20societa/ImmaginiWeb/Ritagli/airbnb-los-angeles-kJNB--835x437@IlSole24Ore-Web.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 614px;
        // margin-top: 80px;
        padding-top: 129px;
    }

    // APPARTAMENTI SPONSORIZZATI
    // .sponsor .row {
    //     margin: 0px 0px;
    //     padding: 10px 0px;
    // }

    .sponsor .col-12, .col-sm-6,
    .col-md-4, .col-lg-3 {
        padding: 0px 10px;
    }

    .box-group {
        margin: 50px 0px;
    }

    .box-img a img {
        width: 100%;
        border-radius: 5px;
    }

    .box-group .box-descr {
        position: absolute;
        bottom: 0%;
        color: white;
        width: 94.6%;
        padding: 10px 5px 0px;
        background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.00) 5%, #000 97%);
        word-wrap: break-word;
        border-radius: 0px 0px 5px 5px;
    }

    .sponsor .box-group:hover {
        transform: scale(1.1);
        transition: 0.5s;
    }

    // PAGINA SEARCH
    .container-fluid.search::-webkit-scrollbar {
      display: none;  /*Nasconde scroll, necessario su Safari e Chrome */
    }

    .container-fluid.search{
      height: 600px;
      overflow-y: scroll;
      scrollbar-width: none; /*Nasconde scroll firefox*/

      #img-search{
        width: 300px;
        height: 200px;
        border-radius: 10px;
      }

      .flat{
        padding: 20px 0px;
        border-top: 1px solid darkgrey;
      }

      .mappa{
        background-color: gray;
        overflow-y:hidden;
      }

    }

    // SHOW FLAT
    .flat-show {
        ul {
            list-style-type: none;
            padding-top: 50px;
            img {
                height: 25px;
                padding: 0px 5px 5px 0px;
            }
        }
        button {
            background-color: #ff385c;
            padding: 7px 15px;
            margin-bottom: 20px;
        }
        .col-12, .col-md-6,
        .col-md-7, .col-lg-5,
        .col-lg-6 {
            padding-left: 0px;
        }
    }

    .flat-title h1{
        font-size: 30px;
        font-weight: bold;
        padding: 15px 0px;
    }

    .flat-img {
        // width: 50%;
        img {
            padding: 0px;
        }
    }

    .flat-descr {
        padding-top: 50px;
        padding-right: 20px;
    }

    .padd {
        padding-top: 50px;
    }



}
